<!--
 * @Author: zhy
 * @Date: 2022-01-11 11:17:27
 * @Description: 
 * @LastEditTime: 2022-01-11 12:00:36
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyVue</title>
</head>
<body>

<div id="app">
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">
    <p v-class="className" class="abc">
        {{someStr}}
        <span v-text="child.someStr"></span>
    </p>
    <p>{{ getHelloWord }}</p>
    <p v-html="htmlStr"></p>
    <button v-on:click="clickBtn">change model</button>
</div>
<script src="./js/observer.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/compile.js"></script>
<script src="./js/myVue.js"></script>
<script>
    var vm = new MyVue({
        el: '#app',
        data: {
            someStr: 'hello ',
            className: 'btn',
            htmlStr: '<span style="color: #f00;">red</span>',
            child: {
                someStr: 'World !'
            }
        },
        computed: {
            getHelloWord: function() {
                return this.someStr + this.child.someStr;
            }
        },
        watch: {
            "child.someStr": (val,oldVal) => {
                console.log(oldVal,val);
            }
        },
        methods: {
            clickBtn: function(e) {
                var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
            }
        }
    });

</script>

</body>
</html>